<div class="form-group">
    <label>Type: </label>
    {{ form_widget(form.type_rec) }}
    {{ form_errors(form.type_rec) }}
</div>
<div class="form-group">
    <label>Destination: </label>
    {{ form_widget(form.destination) }}
    {{ form_errors(form.destination) }}
</div>
<div class="form-group">
    <label>Description: </label>
    {{ form_widget(form.description_rec) }}
    {{ form_errors(form.description_rec) }}
</div>
<div class="form-group">
    <label>Fichier: </label>
    {{ form_widget(form.file) }}
    {{ form_errors(form.file) }}
</div>

<div class="form-group" style="align-self: center">
    <button type="submit" value="save" class="cart-btn">{{ button_label|default('Effectuer') }}</button>
</div>
{{ form_end(form) }}

