{% extends 'base-front.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1>Inscription</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
<div id="containerLOGIN">
    {{ form_start(registrationForm,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.numerotelephone) }}
        
        {{ form_row(registrationForm.email) }}
         {{ form_row(registrationForm.NomRole) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.photoUser) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">M'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
