{% extends 'base-front.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Campi</p>
                        <h1>Produits</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- products -->
    <div class="product-section mt-150 mb-150">
        <div>
            {{ include('produit/recherche.html.twig') }}
        </div>
        <div class="container" di>
            <div class="row product-lists">
                {% for produit in produits %}
                    <div class="col-lg-4 col-md-6 text-center berry">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="{{ path('produit_detail', {"id": produit.getId()}) }}"><img  src="{{ asset('photo/' ~ produit.image) }}" alt=""></a>
                            </div>
                            <h3>{{ produit.nom }}</h3>
                            <p class="product-price">{{ produit.prix }} </p>
                            {% if produit.quantite == 0 %}
                                <p style="color: red"><i class="fas fa-exclamation-triangle"></i> Rupture de stock</p>
                            {% else %}
                                <a href="{{path("cart_add", {id: produit.id})}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Ajouter Panieeeer</a>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}
            </div>
            {% if not paginator == false %}
                <!--Pagination Start  -->
                <div class="pagination-area text-center navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="single-wrap d-flex justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        {{ knp_pagination_render(produits) }}
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Pagination End  -->
            {% endif %}
        </div>
    </div>
    <!-- end products -->
{% endblock %}