{% extends 'base-back.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}



    <div class="card-body">
        <h4 class="card-title">Liste Des Produits</h4>
        <div style="float: right; margin-bottom: 10px ;>
            <button type=" submit" class="btn btn-outline-success" ><a href="{{ path('produit_add') }}"style="text-decoration: none ;  " >Ajouter Produit</a></button>
        </div>

        <form class="forms-sample" method="post" action="{{ path('recherche_prod') }}">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="key"/>
                <button type="submit" class="btn btn-outline-primary" >search</button>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Nom Produit </th>
                    <th> Designation </th>
                    <th> Quantité</th>
                    <th> Prix </th>
                    <th> Action</th>
                    <th> Image </th>

                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                <tr>
                    <td class="py-1">
                        {{ produit.id }}
                    </td>
                    <td> {{ produit.nom }} </td>
                    <td>  {{ produit.designation }}</td>
                    <td> {{ produit.quantite }}</td>
                    <td> {{ produit.prix}} </td>
                    <td>
                        <button type="submit" class="btn btn-warning"> <a href="{{ path('produit_edit', {'id': produit.id}) }}" style="text-decoration: none">Modifier</a></button>
                        <button type="submit" class="btn btn-danger"> <a href="{{ path('produit_delete', {'id': produit.id}) }}" style="text-decoration: none">Supprimer</a></button>
                    </td>
                    <td> <img src="{{ asset('assets/' ~ produit.image) }}"> </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>





{% endblock %}