<div> <p>Destination</p></div>
{{ form_widget (form.destination) }}
{{ form_errors(form.destination) }}
<div> <p>Prix</p></div>
{{ form_widget (form.prix) }}
{{ form_errors(form.prix) }}
<div> <p>Nombre de participants</p></div>
{{ form_widget (form.nbr_participants_max) }}
{{ form_errors(form.nbr_participants_max) }}
<div> <p>Image</p></div>
{{ form_widget (form.image) }}
<div> <p>Description</p></div>
{{ form_widget (form.description) }}
{{ form_errors(form.description) }}
<div> <p>Date de l'événement</p></div>
{{ form_widget (form.date) }}
{{ form_errors(form.date) }}