<div> <p>nom</p></div>
{{ form_widget (formparticipant.nom) }}
{{ form_errors(formparticipant.nom) }}
<div> <p>Prenom</p></div>
{{ form_widget (formparticipant.prenom) }}
{{ form_errors(formparticipant.prenom) }}
<div> <p>Numero</p></div>
{{ form_widget (formparticipant.numero_telephone) }}
{{ form_errors(formparticipant.numero_telephone) }}

